<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="stylesheet" type="text/css" href="st_gargoyles_v4.css" media="screen">
		<style type="text/css"><!-- 
			@import "st_gargoyles.css";
			@import "st_gargoyles_theme.css";
		--></style>
		<script type="text/javascript" src="/etribou/layouts/javascript/ruthsarian_utilities.js"></script>
		<script type="text/javascript">
		<!--
			if ( ( typeof( NN_reloadPage ) ).toLowerCase() != 'undefined' ) { NN_reloadPage( true ); }
			if ( ( typeof( opacity_init  ) ).toLowerCase() != 'undefined' ) { opacity_init(); }
			if ( ( typeof( set_min_width ) ).toLowerCase() != 'undefined' ) { set_min_width( 'pageWrapper' , 600 , true ); }
		//-->
		</script>
		<title>Gargoyles : Skidoo Too : Ruthsarian Layouts</title>

	</head>
	<body>
		<div id="pageWrapper">
			<div id="outerColumnContainer">
				<div id="innerColumnContainer">
					<div id="middleColumn">
						<div id="masthead" class="inside">
<h1>Ruthsarian Layouts</h1>
<h2>Skidoo Too : Gargoyles</h2>
							<hr class="hide">
						</div>
						<div id="content">

<!--
	you must preserve the (lack of) whitespace when creating your own
	horizontal navigation elements, otherwise the extra whitespace will
	break the visual layout. although how it breaks (tiny spaces between each
	element) is an effect that some may desire.
-->

<div class="hnav bottomBorderOnly">
	<ul class="nshnav"
		><li
			><a href="../../../">Ruthsarian</a
			><span class="divider"> : </span
		></li
		><li
			><a href="../../">Layouts</a
			><span class="divider"> : </span
		></li
		><li
			><a href="../../../software/">Labs</a
			><span class="divider"> : </span
		></li
		><li
			><a href="http://weblog.bridgew.edu/ruthsarian/">Blog</a
			><span class="divider"> : </span
		></li
		><li
			><a href="mailto:ruthsarian@gmail.com">Contact</a
		></li
	></ul>
	<hr class="hide">
</div>

<h3 class="pageTitle">Donations &amp; Wishlists</h3>
							<div id="contentColumnContainer">
								<div id="innerContent">
									<div class="inside">

<p>
	I've received some very kind e-mails from people who have found these layouts
	useful and said that, were I to provide a donation box or wishlist, they would
	gladly contribute. I very much appreciate the gesture, but I don't plan on taking 
	anyone up on the offer. I worry that if I were to start taking money, my 
	motivations for creating these CSS-based layouts might change. This might turn 
	into more of a 'job' than a 'puzzle adventure' of sorts. Plus these layouts 
	aren't perfect, and I don't want to sit here and try to sell imperfect merchandise.
</p>
<p>
	However, now I am here to abuse this sentiment that others have expressed to me. At
	least I'm honest and upfront about it. <code>:)</code>
</p>
<p>
	The first season of <a href="http://psc.disney.go.com/abcnetworks/toondisney/shows/gargoyles/"><em>Gargoyles</em></a>,
	an animated television from <a href="http://www.disney.com/">Disney</a>, was released on DVD
	December 7, 2004, and I'd like you to buy a copy. It retails for <em>US$29.99</em> 
	(but it usually sells for about closer to US$20).

	I don't care where you buy it, or what you do with it, just as long as you buy a copy. If you want, give
	it to a niece or nephew, a sister or brother, a cousin, or perhaps give it a try and watch
	the first few episodes and maybe you'll find you enjoy it.
</p>

<h4>Gargoyles? Why do you care about Gargoyles?</h4>
<p>
	Long story short, I really like the show. It's not just a kids show. It's <strong>definitely not 
	just a kids show</strong>. It's unlike anything ever produced by <a href="http://www.disney.com/">Disney</a>
	before or since. I don't think I could do the show justice by trying to describe it here. I think the 
	only way to really understand how good the show is, is to watch it for yourself. 
</p>

<h4>Okay, so it's a good show. Why do you want us to buy the DVD?</h4>
<p>
	This is straight from sources inside Disney: they don't know how this DVD will sell. It's an experiment
	on Disney's part to see what will happen. If the DVD sells well, it's very likely that they will
	release the second season on DVD. That's something I would very much like to see.
</p>
<p>
	If this DVD sells really, <em>really</em> well, there's a chance new material could be produced by
	Disney. <a href="http://www.fox.com/familyguy/">Family Guy</a> was a TV show that got canceled and
	was then released on DVD. The DVD sold so well, Fox is now producing new episodes. It is very possible
	that the same could happen for <em>Gargoyles</em>.
</p>
<p>
	But to get the second season on DVD, and to possibly get new episodes produced, the DVDs need to sell
	really, really, really well. This is why I am here trying to sell you on buying a copy of the DVD. 
</p>
<p>
	I am <span class="strike">an avid</span> a rabid fan of the show, and I am not alone. Every year hundreds of
	fans gather from all over the world for an annual convention called the
	<a href="http://www.gatheringofthegargoyles.com/">Gathering of the Gargoyles</a>. The first con was
	in 1997 and we haven't missed a year since. This year's con, which happened this past August,
	had a special group of guests: a film crew from Disney who are producing a documentary on the
	convention which is to be included on the first season DVD. This is unlike anything to have happened before
	for a Disney television series, and that shows you just how strong of a following, which goes to show 
	just how unique, and great <em>Gargoyles</em> is.
</p>

<h4>I still don't really care.</h4>
<p>
	Fair enough. Which is why I ask that, if you are one who would be willing to contribute were I to
	provide a donation box for <a href="../../">Ruthsarian Layouts</a>, in lieu of a donation, please
	buy a copy of this DVD. Rather than giving me money, you at least get something for your money, and
	at the same time you're helping me and thousands of fans across the globe. It's something
	that you could give as a birthday or Christmas present, if you yourself are not interested in watching
	the show. It's a better use of your money than a simple donation.
</p>

<h4>$30? No way.</h4>
<p>
	Then please at least spread the word. Let others know about the show. Perhaps they might be interested
	in buying the DVD. I have talked to many people about the show. Whenever I bring it up, it is always the
	same response. "Oh yeah, I remember that show. I really liked it. Whatever happened to it?" I think as
	word spreads on this DVD, many old fans will have their interest renewed, and perhaps find something
	new in an old show.
</p>

<h4>Yeah yeah... get on with it!</h4>
<p>
	If you've read through this page, I thank you. It's enough that you even took the time
	to read what I've written down, and I appreciate it.
</p>
<p>
	Now back to what you really want to hear about, the details in the implementation of this layout.
</p>

<p>
	.<br>
 	.<br>
	.<br>
</p>
									
<h4>What'd you do to make this layout?</h4>
<p>
	The gory details I'll keep short. Basically I created a <a href="../../oneshots/gargoyles_01.html">one-shot</a>
	layout, based on <a href="../../skidoo/lean/">skidoo lean</a>, which I then posted about on my 
	<a href="http://weblog.bridgew.edu/ruthsarian/">blog</a>. I took the layout a step further and created
	<a href="../../oneshots/gargoyles_02.html">version two</a>. I clean that up a bit, worked a little on
	compatibility, added some colors, and had <a href="../../oneshots/gargoyles_03.html">version three</a>.
</p>
<p>
	Then I created <a href="../">skidoo too</a> and decided that I liked the CSS better in that version.
	So I ported the <a href="../../oneshots/gargoyles_03.html">gargoyles oneshot version three</a> into
	the layout you see on your screen right now.
</p>
<p>
	Most of the tricks used in this layout have already been talked about in the previous <em>skidoo</em>
	layouts. Most of the changes made are in margin values and z-index properties in an attempt to
	get various boxes layering 4 or 5 deep.
</p>

<h4>Fluid columns?!</h4>
<p>
	Yup. The two columns in the main content area (the one you're reading this text in, and the one
	to the right) have their widths defined in percentage values. And all this while using
	the negative-margins approach. Seems obvious and simple at first, except that you need
	to reserve space for the right-hand column using one percentage value (say 30%) and then
	add a negative margin on that right-column in a value equal to the width of the 30% reserved,
	but defined within a box whose width is the 70% remaining in the box. The formula for
	calculating out the value (42.85% in this case) is located within the comments in the
	stylesheet.
</p>

<h4>NN4 and IE4 Compatibility?</h4>
<p>
	Compatibility isn't the right word. You can view this page in NN4 and IE4 and you'll get a very plain
	looking page, but the content is at least readable. However the layout structure is not preserved under
	these older browsers. So "functional" is probably the better term to use.
</p>

<h4>Separate stylesheet for the theme</h4>
<p>
	<a href="../../skidoo/lean/">Skidoo lean</a> combined theme and layout into
	a single stylesheet. This layout breaks the theme out from the layout. It's a
	much more logical approach to take.
</p>

<h4>cornerLogo</h4>
<p>
	The upper-left box is intended to be used for placement of a logo. It will
	probably give some users a bit of grief trying to get it to work right. I also
	suggest looking into using a transparent background image such as a PNG or GIF
	as it will add a bit of extra flavor to the design. You will want to look
	at <a href="http://www.alistapart.com/articles/pngopacity/">this ALA article</a>
	on how to use PNGs across multiple platforms.
</p>

<h4>Comments always welcomed</h4>
<p>
	Either via <a href="mailto:ruthsarian@gmail.com">email</a> or
	<a href="http://weblog.bridgew.edu/ruthsarian/">the weblog</a>.
	Thanks for reading.
</p>
									</div>
									<hr class="hide">
								</div>
								<div id="rightColumn">
									<div class="inside">

<h4 style="color:#009;">Gargoyles - Season 1 on DVD</h4>

<p>
	Here is a list of online stores where you will be able
	to purchase a copy. Note: With the exception of the 
	<a href="http://www.amazon.com/exec/obidos/ASIN/B0002W4SY0/thegargoylefa-20?creative=327641&camp=14573&link_code=as1">Amazon.com</a>
	link, none of these are "affiliate" links. I, personally, do not make
	any money for purchases made through these sites.
</p>
<p>	The 
	<a href="http://www.amazon.com/exec/obidos/ASIN/B0002W4SY0/thegargoylefa-20?creative=327641&camp=14573&link_code=as1">Amazon.com</a>
	link uses an affiliate link for <a href="http://www.gatheringofthegargoyles.com/">The Gathering of the Gargoyles</a>,
	an annual convention for fans of the series. All purchases made through that link go
	to a great cause and help support the fans and the fandom. 
</p>

<ul>
	<li>
		<a href="http://www.amazon.com/exec/obidos/ASIN/B0002W4SY0/thegargoylefa-20?creative=327641&camp=14573&link_code=as1">Amazon.com</a>
	</li>
	<li>
		<a href="http://video.barnesandnoble.com/search/product.asp?EAN=786936255980">Barnes &amp; Noble</a>
	</li>
	<li>
		<a href="http://www.buy.com/retail/product.asp?sku=40252273">Buy.com</a>
	</li>
	<li>
		<a href="http://www.cduniverse.com/productinfo.asp?pid=6778657">Video Universe</a>
	</li>
</ul>

<p>
	Here are some websites that discuss and review Gargoyles and the DVD.
</p>
<ul>
	<li>
		<a href="http://www.ultimatedisney.com/gargoyles-season1.html">Ultimate Disney</a>
	</li>
	<li>
		<a href="http://www.jimhillmedia.com/mb/articles/showarticle.php?ID=1209">Jim Hill Media</a>
	</li>
	<li>
		<a href="http://www.fpsmagazine.com/review/041208gargoyles.shtml">FPS Magazine</a>
	</li>
	<li>
		<a href="http://www.comingsoon.net/news/dvdreviewsnews.php?id=7488">Comming Soon!</a>
	</li>
</ul>

<p>
	Here are some other <em>Gargoyles</em> resources that may be of interest to you.
</p>
<ul>

	<li>
		<a href="http://www.imdb.com/title/tt0108783/">Gargoyles @ IMDB</a>
	</li>
	<li>
		<a href="http://www.tvtome.com/tvtome/servlet/ShowMainServlet/showid-2079/Gargoyles/">Gargoyles @ TV Tome</a>
	</li>
	<li>
		<a href="http://anime-tourist.com/article.php?sid=149">Interview with Greg Weisman, series creator</a>
	</li>
	<li>
		<a href="http://www.gatheringofthegargoyles.com/">Gathering of the Gargoyles Convention</a>
	</li>
	<li>
		<a href="http://avalon.gargoyles-fans.org/castle/todd/">A Guide to the Gargoyles Universe</a>
	</li>
	<li>
		<a href="http://s8.org/gargoyles/askgreg/">Ask Greg</a> Weisman, creator, producer on <em>Gargoyles</em>
	</li>
</ul>

<p>
	Don't forget to explore the list of <em>Gargoyles</em> fansites listed in the left-hand menu!
</p>


									</div>
									<hr class="hide">
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div id="leftColumn">
						<div class="inside">

<div id="cornerLogo">
	<div class="placeHolder">
		<p>
			Your logo goes here.
		</p>
	</div>
</div>

<div id="mainMenu" class="leftBlock">
	<div class="vnav">
		<ul
			><li
				><a href="../../skidoo/">Skidoo</a
			></li
			><li
				><a href="../../skidoo/lean/">Skidoo Lean</a
			></li
			><li
				><a href="../">Skidoo Too</a
			></li
		></ul>
	</div>
</div>

<div class="leftBlock">
	<h3>Stylesheets</h3>
	<div class="vnav">
		<ul
			><li
				><a href="st_gargoyles.css">st_gargoyles.css</a
			></li
			><li
				><a href="st_gargoyles_theme.css">st_gargoyles_theme.css</a
			></li
			><li
				><a href="st_gargoyles_v4.css">st_gargoyles_v4.css</a
			></li
		></ul>
	</div>
</div>

<div class="leftBlock">
	<h3>JavaScript</h3>
	<div class="vnav">
		<ul
			><li
				><a href="/etribou/layouts/javascript/ruthsarian_utilities.js">ruthsarian_utilities.js</a
			></li
		></ul>
	</div>
</div>

<div class="leftBlock">
	<h3>References</h3>
	<div class="vnav">
		<ul
			><li
				><a href="http://www.css-discuss.org/">css-discuss.org</a
			></li
			><li
				><a href="http://www.dithered.com/css_filters/css_only/index.php">CSS Filters</a
			></li
			><li
				><a href="http://www.positioniseverything.net/piefecta-rigid.html">Piefecta Demo Layout</a
			></li
			><li
				><a href="http://www.redmelon.net/tstme/3cols2/">Douglas Livingstone's 3-Column Layout</a
			></li
		></ul>
	</div>
</div>

<div class="leftBlock">
	<h3>Gargoyles Fansites</h3>
	<div class="vnav">
		<ul
			><li
				><a href="http://www.gargoyles-fans.org/">Gargoyles Fan Website</a
			></li
			><li
				><a href="http://avalon.gargoyles-fans.org/">Avalon Archives</a
			></li
			><li
				><a	href="http://www.gatheringofthegargoyles.com">Gathering of the Gargoyles</a
			></li
			><li
				><a href="http://www.dracandros.com/Jebgarg/jebgarg.shtml">Jeb's Gargoyles Page</a
			></li
			><li
				><a href="http://www.crickrock.com/cgi-bin/webring/list.pl?ringid=gargoyles">Gargoyles Ring of Power</a
			></li
		></ul>
	</div>
</div>

<div class="leftBlock leftTextBlock">
	<p>
		This layout has been tested on Opera 6, 7, Gecko (FireFox 0.9.x), IE 6, 5.5, 5.0, IE Mac 5.2, Safari.
	</p>
</div>

							<hr class="hide">
						</div>
					</div>
					<div id="footer">

<p>
	&copy; Nobody. All CSS/HTML is released into the public domain.<br>
	Last Updated: November 30, 2004
</p>

						<hr class="hide">
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

	</body>
</html>








