div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #fff;
 font: bold 12px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 6000;
 text-decoration:none;
 text-shadow:0 0 1px #315D0D;
 /* CSS3 Rounded Corners */
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 /*полупрозрачность*/
 -moz-opacity:.85 !important;
 -webkit-opacity:.85 !important;
 opacity:.85 !important; 
 filter:alpha(opacity=85)
}